*{
	font-family: "Helvetica Neue",Arial,"Microsoft Yahei",Helvetica,sans-serif,Lato;
    font-size: 14px;
    margin:0;
    padding:0;
}
a {
    background-color: transparent;
    text-decoration: none;
     color: black;
}
a:hover, a:focus {
    color: black;
text-decoration:none
}
dl, li, ol, ul {
    list-style: none;
}
.footer-top{
	height: 184px;
}
.f-t{height: 100%;}
.foot-suo{height: 100%;}
.foot-suo{
	height: 100%;
       line-height: 184px;
       text-align: center;}
.foot-suo a{
	display: block;
	height: 100%;
    color: #565b62;
}
.foot-suo .i-1h-send {
    background-image: url(../img/foot-img.png);
    background-position: 0 -80px;
    height: 80px;
    width: 80px;
    position: absolute;
}
.foot-suo .i-7s-return {
    background-image: url(../img/foot-img.png);
    background-position: 0 -240px;
    height: 80px;
    width: 80px;
    position: absolute;
}
.foot-suo .i-15s-return {
    background-image: url(../img/foot-img.png);
    background-position: 0 0;
    height: 80px;
    width: 80px;
    position: absolute;
}
.foot-suo .i-30s-swap {
    background-image: url(../img/foot-img.png);
    background-position: 0 -160px;
    height: 80px;
    width: 80px;
    position: absolute;
}
@media screen and (max-width:767px){
	
	.foot-suo{
		float: left;
	}
}
/*底部大屏幕样式 */
.footer-wenzi .tit{
	padding-bottom: 20px;
    font-size: 20px;
    font-size: 2rem;
    color: #333;
}
.footer-wenzi a{
	line-height: 30px;
    font-size: 14px;
    color: #666;
    }
   .phone-f{
   	text-align: right;
   }
   .phone-f a{
    display: block;
    font-size: 35px;
    background-color: transparent;
    text-decoration: none;
    cursor: default;
    }
    .bt-f{
    width: 45%;
    coloer: #fff;
    background-color: #fff;
     border: 1px solid #000;
     border-radius: 0;    
     }
     @media screen and (max-width:767px){    	
    .footer-list{display: none;}
    .nav-foot{margin-bottom:0px;}
    .navbar-toggle{border:none;}
    .nav-foot a{margin-left: 15px}
    .arrow-down{
     	background-size: 14px auto;
    	width: 14px;
    	height: 8px;
    	display: inline-block;
    	background-image:url(../img/index.png); 
    	background-repeat: no-repeat;
    	border: none;
    	background-position: 0 -8px;
       	
     	} 
     	.arrow-up {
     	background-size: 14px auto;
     	width: 14px;
    	height: 8px;
    	background-repeat: no-repeat;
    	/*position: absolute;
    	right: 20px;
    	top: 50%;
    	margin-top: -4px;*/
    	display: inline-block;
    	background-position: 0 0;
    	background-image:url(../img/index.png);  
}  	
.bt-foot{
	 width: 100%;
     coloer: #fff;
     background-color: #fff;
     border: 1px solid #000;
     border-radius: 0;    
}   .bottom-f{
	overflow: hidden;
}
     }
    .bottom-pic span{
    	display: inline-block;
    }
    @media screen and (max-width:767px){
    	.bottom-pic{display: none;}
    }
     @media screen and (min-width:767px){
    	.res-bto{display: none;}
    }
